body{
    text-align:center;
    background-color: rgb(171, 245, 196);
    font-size: 25px;
  }  
  
  #album
  {
    height:450px;
    border-radius:30px;
  }
  button
  {
  background-color:#003149;
    border-radius: 50px;
    font-size: 25px;
  }